@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-color: #ffffff;
    --primary-color: #fa193b;
    --secondary-color: #e61736;
    --text-color: #1f2937;
}