:root {
    --background-color: #ffffff;
    --primary-color: #fa193b;
    --secondary-color: #e61736;
    --text-color: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color);
}

body {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
}

form {
    background: var(--primary-color);
    text-align: center;
    width: calc(100vw - 20px);
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: var(--text-color);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
}

button:hover {
    background-color: var(--secondary-color);
}

.menu {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8em;
}

.message {
    padding: 15px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #FA193B;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1px;
    z-index: 3;
}